<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test - Home</title>
</head>
<body>
    <form action="#" method="post">
        <label for="input1">back-half:</label><br>
        <input type="text" id="input1" name="back-half"><br>
        <label for="input2">link destination:</label><br>
        <input type="text" id="input2" name="destination"><br><br>
        <input type="submit" value="Submit">
      </form>
</body>
</html>