<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>walay sulod</title>
    <!-- stylesheets css -->
    <link
      rel="icon"
      type="image/x-icon"
      href="{{url_for('static', filename='/images/meeples-primary-logo (1).png')}}"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/loaders.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/magnific-popup.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/animate.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/nivo-lightbox.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/nivo_themes/default/default.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/hover-min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/contact-input-style.css')}}" />
  </head>
  <body>
    <section id="video-sec" class="parallax">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8 col-sm-12">
            <h2 class="wow fadeInUp" data-wow-delay="0.5s">
              ITS A PRANK! <small>LANTAW NALANG VIDEO</small>
            </h2>
            <a
              class="popup-youtube"
              href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
              ><i class="fa fa-play"></i
            ></a>
            <small><em>Thank you for understanding</em></small>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
